body{
    /* border: 1px solid green; */
    /* :hover  */
}
nav{
    /* box-sizing:content-box ; */
    border: 2px solid rgba(255, 217, 0, 0.518);
    width: 20%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns:  100%  ;
    grid-template-rows: 50% 50% auto;
    background-color: bisque;
    /* color: black; */
}
@media (max-width: 700px ) {
    main {
      width:90%;
    }
    footer{
      grid-template-columns: repeat(2, 1fr);
  }
}